<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bvito Добавить объявление</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
    <h1>Добавьте объявление</h1>

    <form method="POST" th:action="@{/items/add}" th:object="${addingItem}">
        <label for="name">Название объявления: </label>
        <input type="text" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <br>

        <label for="description">Описание объявления (необязательно): </label>
        <input type="text" th:field="*{description}">
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
        <br>

        <label for="price">Цена: </label>
        <input type="text" th:field="*{price}">
        <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
        <br>

        <h3>Выберите тэги объявления (необязательно):</h3>
        <div th:each="tag : ${tags}">
            <input type="checkbox" th:text="${tag.name}" th:field="*{tags}" th:value="${tag.id}">
        </div>
        <br>

        <input type="submit" value="Разместить объявление">
    </form>
</body>

</html>