<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Вход</h1>

    <div th:if="${error}">
        Неверные данные для входа.
    </div>

    <p><a th:href="@{/profile/register}">Пройти регистрацию</a></p>

    <form method="POST" th:action="@{/profile/login}" id="loginForm">
        <label for="username">Логин: </label>
        <input type="text" name="username" id="username" /><br/>

        <label for="password">Пароль: </label>
        <input type="password" name="password" id="password" /><br/>

        <input type="submit" value="Войти"/>
    </form>
</body>
</html>